---
import Header from '../components/Header.astro';
import PageInfo from '../components/PageInfo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Header />

  <main
    class='flex flex-wrap gap-14 mt-14 justify-between md:gap-0 max-w-[85vw] md:max-w-5xl px-5 md:mt-0'
  >
    <img src='/scarecrow.png' class='md:w-[47%]' alt='scarecrow image' />

    <PageInfo />
  </main>
</Layout>
