---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Header />

  <main
    class='flex flex-wrap gap-14 mt-14 justify-between md:gap-0 lg:max-w-[80vw] px-5 md:mt-0'
  >
    <img src='/scarecrow.png' class='md:w-[47%]' alt='scarecrow image' />

    <div class='w-full md:w-[47%] bg-red-500'>
      <h1>I have bad news for you</h1>
    </div>
  </main>
</Layout>
