<div class='w-full md:w-[47%] md:flex md:flex-col md:justify-between'>
  <h1 class='font-bold -tracking-[1.68px] text-5xl leading-normal'>
    I have bad news for you
  </h1>

  <p class='text-[#4f4f4f] mt-7 mb-8 text-xl lg:text-2xl'>
    The page you are looking for might be removed or is temporarily unavailable
  </p>

  <a
    href='#'
    class='bg-[#333] hover:bg-[#4f4f4f] transition mb-5 md:mb-0 text-white p-5 block text-lg w-56'
  >
    BACK TO HOMEPAGE</a
  >
</div>
